ol li {
    background-color: yellow;
}

h1, h2, h3 {
    color: red;
}

ol li em {
    font-size: 40px;
    border: 1px solid black;
    
}

li {
    font-size: 20px;
}

em {
    font-weight: 900;
}

li.selec  {
    color:blue;
}

li.Java {
    background-color: pink;
}

.efeito:hover {
    font-weight: 800;
    background-color: pink;

}