div:hover {
    border: 2px solid black;
}

.amarelo:hover {
    color: yellow;
    font-style: italic;
    text-align: center;
    
}

.verde:hover {
    color:green
}

.vermelho:hover  {
    color: red;
    font-size: xx-large;
    font-style: italic;
}

.roxo:hover {
    color: rgb(100, 37, 100);
}

.verde-agua:hover {
    color: aqua;
    font-style: italic;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    position: relative;
    left: 20px;
}